# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Exclude override files. You may choose to keep override.tf files in some situations.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local CLI configuration files
*.terraformrc
terraform.rc

# .terraform.lock.hcl is used for dependency locking
.terraform.lock.hcl

# Backup files created by Terraform
*.backup

# Ignore any secrets files
*.secret
*.pem
*.key
*.pub

# Ignore any .tfvars files
*.tfvars